<div class="jumbotron"  style="margin-top: 5px;">
    <h1 class="display-4">Listados de puntuaciones</h1>
    <div class="row mt-4 mb-4">
        <div class="col-3">
            <button class="btn btn-primary" [class.btn-secondary]="juegoElegido !== 'Ahorcado'"
            [class.btn-warning]="juegoElegido == 'Ahorcado'"  (click)="juegoElegido='Ahorcado';ConsultarPuntos('ahorcado');">Ahorcado</button>
        </div>
        
        <div class="col-3">
            <button class="btn btn-primary" [class.btn-secondary]="juegoElegido !== 'Preguntados'"
            [class.btn-warning]="juegoElegido == 'Preguntados'" (click)="juegoElegido='Preguntados';ConsultarPuntos('preguntados');">Preguntados</button>
        </div>
        <div class="col-3">
            <button class="btn btn-primary" [class.btn-secondary]="juegoElegido !== 'Mayor o Menor'"
            [class.btn-warning]="juegoElegido == 'Mayor o Menor'" (click)="juegoElegido='Mayor o Menor';ConsultarPuntos('mayormenor');">Mayor o Menor</button>
        </div>
        <div class="col-3">
            <button class="btn btn-primary" [class.btn-secondary]="juegoElegido !== 'Simon Says'"
            [class.btn-warning]="juegoElegido == 'Simon Says'" (click)="juegoElegido='Simon Says';ConsultarPuntos('simon-says');">Simon Says</button>
        </div>
    </div>

    <div class="container ld ld-blur-in" >
        <div *ngIf="juegoElegido!==''">
            <table class="table table-hover table-bordered animated fadeIn faster ld ld-slide-ttb-in" style="background-color: rgb(236, 236, 233);">
                <thead>
                    <tr class="bg-primary" style="color: white;text-align: center;"><th colspan="3">Puntos en {{juegoElegido}}</th></tr>
                    <tr class="bg-primary" style="color: white;">
                        <th scope="col">Usuario</th>
                        <th scope="col">Puntos</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr appPasarCursor *ngFor="let elemento of listado">
                        <td>{{elemento.usuario.email}}</td>
                        <td>{{elemento.puntuacion}}</td>
                        <td>{{elemento.fecha}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>

