<header >
    <div class="contenedor ld ld-float-rtl-in">
       <div class="contenedor_texto">
          <div class="texto">
           <h1 class="nombre">Fernando Daniel Quispe</h1>
           <h2 class="profesion">Analista de Testing</h2>
          </div>
      </div>
    </div>
</header>

<section class="main ">
  <section class="acerca_de ">
    <div class="contenedor ld ld-blur-in">
          <div class="foto ld ld-vortex-in">
              <img class="img" src="./assets/imagenes/foto.jpg" width="250" height="250" alt="Fernando Daniel Quispe">
          </div>
          <div id="quien" class="texto " >
              <h3 class="titulo">Soy Fernando Daniel Quispe, Alumno de la UTN FRA</h3>
              <p>Soy un estudiante que trabaja de Analista en Testing que le gusta aprender nuevos lenguajes de programacion para poder llegar a ser un desarrollador el dia de mañana. </p>
          </div>         
          <hr>
          <div id="miJuego"class="texto">
            <h3 class="titulo">Descripción del juego 'Simon Says'</h3>
            <p>El juego consiste en que los jugadores deben recordar la secuencia de colores y repetirla en el orden correcto presionando los botones de colores en la unidad de juego. Al principio, las secuencias de luces tienen un ritmo constante, pero se complican en la medida que juegas, lo que aumenta el suspenso en cada turno.</p>
        </div>
        <hr>      
    </div>
  </section>
</section>

<footer>
  <section class="redes_sociales">
   <div class="contenedor">
       <a href="https://github.com/fernando-quispe" class="github"><i class="fa fa-github"></i></a>       
   </div>
  </section>
</footer>

<!--<router-outlet></router-outlet>-->