<nav class="site-header sticky-top py-1" >
  <div class="container d-flex flex-column flex-md-row justify-content-between">
      
    @if(estado_activo){<a class="py-2 d-none d-md-inline-block" routerLink="/quien-soy" (click)='quienSoy()' routerActive="activebutton" >Quien Soy&nbsp;&nbsp;&nbsp;&nbsp;</a>}
    @if(estado_activo){<a class="py-2 d-none d-md-inline-block" routerLink="/listados" (click)='listados()' routerActive="activebutton">Listado de Resultados&nbsp;&nbsp;&nbsp;&nbsp;</a>}
    @if(estado_activo){<a class="py-2 d-none d-md-inline-block" routerLink="/chat" (click)='chat()' routerActive="activebutton">Chat&nbsp;&nbsp;&nbsp;&nbsp;</a>}
    @if(estado_activo){<a class="py-2 d-none d-md-inline-block" routerLink="/encuesta" (click)='encuesta()' routerActive="activebutton">Encuesta&nbsp;&nbsp;&nbsp;</a>}
    @if(estado_activo && perfil=='admin'){<a class="py-2 d-none d-md-inline-block" routerLink="/resultados" (click)='resultados()' routerActive="activebutton">Respuestas de Encuestas&nbsp;&nbsp;&nbsp;</a>}
    @if(estado_activo ){<a class="py-2 d-none d-md-inline-block" routerLink="/home" (click)='home()' routerActive="activebutton">Juegos&nbsp;&nbsp;&nbsp;</a>}
    @if(estado_activo){<a class="py-2 d-none d-md-inline-block" style="color: red;" routerActive="activebutton">{{mail_usuario}}&nbsp;&nbsp;&nbsp;</a>}
    @if(estado_activo){<a class="py-2 d-none d-md-inline-block" (click)='cerrarSesion()' routerActive="activebutton">Cerrar Sesión</a>}

    @if(!estado_activo || estado_activo==null){<a class="py-2 d-none d-md-inline-block" (click)='home()' routerLink="/home" routerActive="activebutton">Home</a>}
    @if(!estado_activo || estado_activo==null){<a class="py-2 d-none d-md-inline-block" (click)='login()' routerLink="/login" routerActive="activebutton">Login</a>}
    @if(!estado_activo || estado_activo==null){<a class="py-2 d-none d-md-inline-block" (click)='registro()' routerLink="/registro" routerActive="activebutton">Registro</a>}    

  </div>
</nav>