.cardContainer{
    width: 700px;
    height: 900px;
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
}

.card-header{
    background-color: rgb(19, 151, 37);
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.card-body{
    padding: 0.5rem;
    background-image: url(/assets/imagenes/fondochat.jpg);
}

.imgEnviar:active{
    transform: scale(0.9);
}

.enviado{
    display: block;
    float: right;
    background-color: teal;
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: flex;
}

.recibido{
    display: block;
    float: left;
    background-color: gray;
    color: white;
    min-width: 50.01%;
    border-radius: 10px;
    text-align: flex;
}

.contenedorDeMensajes{
    overflow: scroll;
    padding: 0.3rem;   
}

.contenedorDeMensajes::-webkit-scrollbar{
    display: none;
    
}

.chatIconContainer{
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: rgb(19, 151, 37);
    border-radius: 100%;
    box-shadow: 0 0 10px 2px rgb(65, 64, 64);
}

.chatIconContainer:hover{ 
    text-decoration: none;
    color: #98ecb3;
    background-color: #90e78d;
}
.chatIcon{
    position: fixed;
    right: 0.9rem;
    bottom: 0.9rem;
    width: 40px;
    height: 40px;
}

.closeIcon{
    position: absolute;
    right: 0.5rem;
    top: 0rem;
    cursor: pointer;
}

section {
    background-image: linear-gradient(to left,rgb(168, 200, 230),rgb(116, 214, 231));
    height: 100vh;
}