<section>
<div class="parent"> 
    <div class="container" id="container">    
        <div class="form-container sign-in">
            <form>               
                <form  [formGroup]="form" (ngSubmit)="submit()">
                    <div >
                        <h1>Registro de Usuario</h1><br>
                        <label for="email" >Correo electrónico </label>
                        <input type="email" name="email" id="email" formControlName="email"  placeholder="nombre@gmail.com" required>                    
                        <label for="password" >Contraseña </label>
                        <input type="password" name="password" id="password" formControlName="password" placeholder="••••••••"  required>
                    </div>   
                    <button type="submit">Registrar</button><br>                                     
                </form>                    
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>¡Hola!</h1>
                    <p>Ingrese sus datos personales para seguir con el registro</p>                    
                </div>                
            </div>
        </div>    
    </div>
</div>
</section>
<router-outlet></router-outlet>
