.container{
    width: 100%;
    height: auto;
    background-color:transparent;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-content: center;
}

.imagenDeMenu{
   height: 55%;
   margin-bottom: 2rem;
}

.media-heading{
    color:  rgb(72, 131, 221);
}
  
.menu{
  display: flex;
  flex-direction:column; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  background-color: rgb(166, 226, 236);
  width: 45%;
  height: 18rem;
  border-radius: 1rem;
  margin-top: 1rem;
  align-content: center;
  text-align: center;
  cursor: pointer;
  word-wrap: break-word;
  padding: 1rem;
  /*Sombra*/
  -webkit-box-shadow: 7px 7px 20px -8px rgba(0,3,5,1);
  -moz-box-shadow: 7px 7px 20px -8px rgba(0,3,5,1);
  box-shadow: 7px 7px 20px -8px rgba(0,3,5,1);
}
  
#menu:hover{
    /*box-shadow: 2px 2px 10px rgb(67, 141, 252);*/
    box-shadow: 2px 2px 10px rgb(16, 63, 134);
}
  
/* Responsive*/ 
@media screen and (max-width: 1200px){
    .menu{
        height: auto;
    }    
    .encabezado{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 720px){
    .container{
        height: auto;
        margin-left: 3rem;
    }
    .menu{
        width: 80%;
        height: auto;
    }
}

footer .redes_sociales{
    background: #1e2b28;
    padding: 60px 0;
    margin-top: 8rem;
    height: 10rem;
}

footer .redes_sociales .contenedor{
    display: flex;
    justify-content: center;
}

footer .redes_sociales a{
    color: white;
    text-align: center;
    width: 100px;
    display: block;
    padding: 15px, 0;
    border-radius: 10%;
    font-size: 50px;
    margin: 0px 20px;
}

footer .redes_sociales .facebook:hover{background:#0078d7 ;}
footer .redes_sociales .github:hover{background: #4078c0;}
footer .redes_sociales .linkedin:hover{background: #0077b5;}

/*Responsive*/
@media screen and (max-width: 470px){
   .menu{
    /* width: auto;*/
     height: auto;    
    }
    .imagenDeMenu{
       width: auto;
       height: auto;
       margin-bottom: 2rem;
    }
}

section {
    background-image: linear-gradient(to left,rgb(168, 200, 230),rgb(116, 214, 231));
    height: 93vh;
}

body {
    margin: 0;
    padding: 0;
}

.footer {
    text-align: center; /* Centra el texto */
    padding: 0px; /* Espaciado interno */
    background-color: #fcfcfc; /* Color de fondo */
    position: relative; /* Opcional, pero útil si necesitas un posicionamiento específico */
    bottom: 0; /* Coloca el footer al fondo */
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
}


.btnleft {
    /*border: 1px solid #FAFAFA;*/
    color: white;
    text-align: center;
    background-color: black;
    display: inline-block;
    margin: 0px;     
}

.contenedor-left{
    display: flex;
}