<section>
@if(estaLogueado){<div class="container">

  <div (click)="Juego('ahorcado')" class="menu ld ld-float-ttb-in" id="menu">
    <img src="./assets/imagenes/ahorcado.jpg" class="img-thumbnail imagenDeMenu" alt="Avatar" >
    <div class="media-body">
      <h4 class="media-heading">Ahorcado</h4>
    </div>
  </div>
  
  <div (click)="Juego('mayoromenor')" class="menu ld ld-float-ttb-in" id="menu">
    <img src="./assets/imagenes/mayoromenor.jpg" class="img-thumbnail imagenDeMenu" alt="Avatar"  >
    <div class="media-body">
      <h4 class="media-heading">Mayor o Menor</h4>
    </div>
  </div>

  <div (click)="Juego('preguntados')"  class="menu ld ld-float-ttb-in" id="menu">
    <img src="./assets/imagenes/preguntados.jpg" class="img-thumbnail imagenDeMenu" alt="Avatar" >
    <div class="media-body">
      <h4 class="media-heading">Preguntados</h4>
    </div>
  </div>

  <div (click)="Juego('simon-says')"  class="menu ld ld-float-ttb-in" id="menu">
    <img class="img-thumbnail imagenDeMenu"   src="./assets/imagenes/simonsays.jpg" alt="Avatar">
    <div class="media-body">
      <h4 class="media-heading">Simon Says</h4>
    </div>
  </div>

</div>}

<footer>
</footer>

</section>

<!--<router-outlet></router-outlet>-->